<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/record.css">
    <link rel="stylesheet" href="/css/table/report-table.css">
</head>

<body>
    <% if(role === 'Admin') { %>
        <%- include('../includes/navigation-admin.ejs') %>
    <% } else if (role === 'Interna kontrola') { %>
        <%- include('../includes/navigation-internal.ejs') %>
    <% } else if (role === 'Šef' || role === 'Zamjenik') { %>
        <%- include('../includes/navigation-supervisor.ejs') %>
    <% } else { %>
        <%- include('../includes/navigation.ejs') %>
    <% } %> %>   %> %>  
    

    <main>
        <% if (message) { %>
            <div class="user-message"><%= message %></div>
        <% } %>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        
        <p class="centered">Password mora sadržavati najmanje 5 karaktera. Obavezno je da sadrži najmanje jedan broj i najmanje jedno malo slovo!</p>
        <form class="record-form" action="/admin/change-password" method="POST">
        
            <div class="form-control centered">
                <label for="password">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password"          
                >    
                <label for="passwordConfirmation">Potvrdi password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'passwordConfirmation') ? 'invalid' : '' %>"
                    type="password" 
                    name="passwordConfirmation" 
                    id="passwordConfirmation"    
                    onchange="matchPassword()"      
                >            
            </div>  

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="centered">
                <button class="btn" type="submit">Promjeni password</button>
            </div>  
            
        </form>

    </main>
<%- include('../includes/end.ejs') %>
<script src="/js/password-matcher.js"></script>